.ourTeam{
    &-title{
        margin: 0 0 .7em 0;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 5rem;
        color:#2190c1;
        text-align: center;
        }

        &-card{
            max-width: 380px;
            width: 100%;
            padding: 10px 10px 25px;
            border: 2px solid #cccccc;
            margin-bottom: 40px;
            &--left{
                box-shadow:-9px -9px 0px 0px #cccccc;
            }
           &--right{
            box-shadow:10px -8px 0px 0px #cccccc;
           }

            &__main{
             display: flex;
                &-photo{
                max-width: 129px;
                width: 100%;
                }
                 &-wrap{
                overflow: hidden;
                background-color: #b5b5b5;
                padding-top: 100%;
                position: relative;
                 }   
                &-img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                object-fit: cover;
                    }


                &-caption{
                    padding-left:30px;
                    text-align: center;
                    width: 100%;
                }
                &-subtitle{
                    color: #666666;
                    font-size: 1.7rem;
                    font-family: 'Bree Serif', serif;
                    font-weight: normal;
                }

                &-title{
                color: #2190c1;
                font-size: 3.2rem;
                margin: 0;
                font-family: 'Bebas Neue', sans-serif;
                line-height: 1.2;
                }
                &-contact{
                    color: #94979b;
                    font-size: 1.3rem;
                }
             &-text{
                 padding-top: 2em;
                 font-size: 1.2rem;
                 color: #515862;
             }


            }





        }
}
.social {
    & li{
        display: inline-block;
        font-size: 2.5rem;
        padding: 15px 3px  0;
     }
     &__link {
         &--blue {
             color: #00a1e4;
             &-light{
                color: #29aecb;
             }
             &-dark{
                 color: #0481d9;
             }
             
         }
        &--yellow{
            color: #f7941d;
        }
     }
   
}