$weoffercolor:#515862;
$titlecolors:#2190c1;
.section__we-offer{
    background-color:#f4f4f4 ;
    padding-top: 40px;
}
.offer--padding{
   padding: 0 30px 30px;
    border-bottom: 1px solid rgba(0, 0, 0,.3);
}
.we-offer{
text-align: center;
&__title{
    margin: 0;
    color:$titlecolors ;
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    line-height: 1;
    &--primary{
        padding-top: 40px;
    }
}
    &__text{
    font-size: 1.2rem;
    color:$weoffercolor;
    padding: 20px 0 45px;
    &--primary{
        font-family: 'Bree Serif', serif;
        font-size: 2.5rem;
        &::before{
            content: "“";
        }
        &::after{
            content: "”";
        }
    }

    }
}
.offer{
     position: relative;
    &__title{
        margin: 0 0 15px 0;
        color: $titlecolors;
        font-family: 'Bree Serif', serif;
        font-weight: 400;
        font-size: 1.7rem;
      
    }

&__text{
    font-size: 1.1rem;
    color:$weoffercolor ;
    padding-bottom: 40px;
    line-height: 15px;

    &-blue{
        font-size: 1.4rem;
        color: #2b99cc;
        font-family: 'Bree Serif', serif;
    }  
}
&__btn{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px 7px;
    border-radius: 3px;
    &:hover{
        box-shadow:0px 3px 2px 0px rgba(50, 50, 50, 0.75);
        transition: .3s ease-in-out;
    }

}
}
.persons{
display: flex;
justify-content: center;

&__img{
    padding-bottom: 15px;
}
    &__item{
        display: inline-block;
        border-bottom: 7px solid #c1c1c1;
        position: relative;
        z-index: 3;
        & span {
            position: absolute;
            top: -15px;
            left: -13px;
           font-size: 1rem;
            text-align: center;
            width: 90px
        }
        &::after{
            content: "";
            position: absolute;
            width: 65px;
            height: 65px;
            top:41.333%;
            left: 50%;
            border-radius: 50%;
            z-index: -1;
            transform: translate(-50%,-50%);
            background-color: #c1c1c1;
        }

        &::before{
            content: "";
            position: absolute;
            bottom:0;
            left: 50%;
            opacity: 0;
            transform: translate(-50%,0);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5.5px 7px 5.5px;
            border-color: transparent transparent #f98561 transparent
        }
           
        &--active{
            border-color: #f98561;
            &::after{
                content: "";
                background-color: #f98561;
            }
            &::before{
                content: "";
                position: absolute;
                bottom:0;
                left: 50%;
                opacity: 1;
                transform: translate(-50%,0);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 5.5px 7px 5.5px;
                border-color: transparent transparent #f98561 transparent
            }
           
        }
        
    }
}

.our-team{
 
    &-title{
        text-align: center;
        padding: 55px 0 25px;
        color: #f98561;
        font-size: 1.4rem;
        font-weight: normal;
        margin: 0;
        &-bold{
            font-weight: 700;
        }
    }


}