$designcolor:#cccece;


.section__desighn{
     padding: 110px 0 30px;

    text-align: center;
    &-title{
    font-size: 6rem;
    margin: 0;
    line-height: 1;
    color: $designcolor;
    font-family: 'Bebas Neue',sans-serif;
     text-transform: uppercase;
   
    }
    &-text{
        color: $designcolor;
        font-size: 1.4rem;
        padding: 25px 0 45px;
       
        text-align: center;
        
    }
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: #adadad;
    
    opacity: 1;
    
  }
  .swiper-pagination-bullet-active {
    border:3px solid #f98561;
    background: #2190c1;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    width:auto !important;
    right: 0 !important;
    bottom: 0;
      left: auto;
  }
  .swiper-wrapper{
      padding-bottom: 140px;
  }